@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
       url('./assets/fonts/Nunito_Sans/NunitoSans-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
img {
  max-width: 100%;
}
.card {
  max-width: 700px;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(230px, 1fr));
}
.title-home {
  padding-left: 4.44rem;
  font-size: x-large;
  font-weight: 900;
}

.dark-mode-container {
  display: flex;
  align-items: center; 
  gap: 8px;
  font-size: medium;
  font-weight: 800;
  padding-top: 1.3rem;
  padding-right: 4rem;
}

.search-bar {
  padding-top: 4.44rem;
  padding-left: 6rem;
  display: flex;
}
